<% provide(:title, "Sign in") %>

<div class="row">
  <div class="span6 offset3 well">
  <h1>Sign in</h1>

    <%= form_for(:session, url: sessions_path) do |f| %>

      <div class="field">
      	<%= f.label :email %>
      	<%= f.text_field :email %>
      </div>

      <div class="field">
      	<%= f.label :password %>
      	<%= f.password_field :password %>
      </div>

      <%= f.submit "Sign in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", sign_up_path %></p>
  </div>
</div>