<% provide(:title, "Sign in") %>

<div class="row">
  <div class="span6 offset3 well">
  <h1><%= t("user.sign_in") %></h1>

    <%= form_for(:session, url: sessions_path) do |f| %>

      <div class="field">
      	<%= f.label :email %>
      	<%= f.text_field :email ,:placeholder => "Email" ,:required => "required"%>
      </div>

      <div class="field">
      	<%= f.label :password %>
      	<%= f.password_field :password,:placeholder => "Password",:required => "required" %>
      </div>

      <%= f.submit t("user.sign_in"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>