
<div class="emp_education">
<h3><%= t "emp.new.edu.title" %></h3>
<hr />
<%= f.fields_for :education do |education_form| %>
<div class="row-fluid">
	<div class="span5 control-group" >
		
		<div class="field">
			<%= education_form.label :institution ,t("emp.new.edu.lbl_institution") %>
			<%= education_form.text_field :institution %>
		</div>
		<div class="field">
			<%= education_form.label :from ,t("comm.from") %>
			<%= education_form.text_field :from, :type => 'date' %>
		</div>
		<div class="field">
			<%= education_form.label :level, t("emp.new.edu.lbl_level") %>
			<%= education_form.collection_select :level, Dictionary.where(:name => "level"), :key, :value, { :prompt => 'Select Level' } %>
		</div>
	</div>
	<div class="span5 control-group" >
		<div class="field">
			<%= education_form.label :discipline, t("emp.new.edu.lbl_discipline") %>
			<%= education_form.text_field :discipline %>
		</div>
		<div class="field">
			<%= education_form.label :to, t("comm.to") %>
			<%= education_form.text_field :to, :type => 'date' %>
		</div>
		
	</div>
</div>
<%= education_form.link_to_remove t("emp.new.edu.btn_remove"), :class => "btn btn-mini btn-danger" %>
<% end %>

<p><%= f.link_to_add t("emp.new.edu.btn_add"), :education, :class => "btn btn-mini btn-primary" %></p>
</div>
