<% provide(:title, '人事管理') %>
<h1>员工列表</h1>

<table class="table table-striped table-hover table-bordered " >
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Telephone</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= link_to employee.name, employee %></td>
        <td><%= employee.gender ? 'Male' : 'Female' %></td>
        <td><%= employee.telephone %></td>
        <td>
        <%= link_to edit_employee_path(employee),:class => 'btn btn-mini' do %>
        <i class="icon icon-edit"></i> Edit
        <% end %>
        <%= link_to employee,:class => 'btn btn-mini btn-danger', method: :delete, data: { confirm: 'Are you sure?' } do %>
         <i class="icon icon-trash icon-white"></i> Destroy
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= pagination_links @employees %>
