<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @msg.sender %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @msg.receiver %>
</p>

<p>
  <strong>Unread:</strong>
  <%= @msg.unread %>
</p>

<p>
  <strong>Message:</strong>
  <%= @msg.message %>
</p>

<%= link_to 'Edit', edit_msg_path(@msg) %> |
<%= link_to 'Back', msgs_path %>
