<% provide(:title, "Sign up") %>
<div class="row">
  <div class="span6 offset3 well">
  <h1><%= t("user.sign_up")%></h1>
  <%= form_for(@user, :url => user_register_path) do |f| %>
    <div class="field">
         <%= f.label :email %>
         <%= f.text_field :email , :type => "email" ,:required => "required" ,:placeholder => "Email"%>
    </div>
    <%= f.submit t("user.sign_up"), :class => "btn btn-success" %>
  <% end %>
  </div>
</div>