<% provide(:title, 'Home') %>

<!-- Jumbotron -->
<div class="jumbotron">
  <h1>HRM System</h1>
  <p class="lead"><%= t("comm.slogan")%></p>
  <%= link_to t("comm.join_now"), sign_up_path, :class => "btn btn-large btn-success" %>
</div>

<hr>

<!-- Example row of columns -->
<div class="row-fluid">
  <div class="span4">
    <h2><%= t("comm.simple")%></h2>
    <p><%= t("comm.simple_text")%></p>
    <p><a class="btn" href="#"><%= t("comm.more")%> &raquo;</a></p>
  </div>
  <div class="span4">
    <h2><%=t("comm.fast")%></h2>
    <p><%= t("comm.fast_text")%></p>
    <p><a class="btn" href="#"><%= t("comm.more")%> &raquo;</a></p>
 </div>
  <div class="span4">
    <h2><%= t("comm.efficient")%></h2>
    <p><%= t("comm.efficient_text")%></p>
    <p><a class="btn" href="#"><%= t("comm.more")%> &raquo;</a></p>
  </div>
</div>
