<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dictionary.name %>
</p>

<p>
  <strong>Key:</strong>
  <%= @dictionary.key %>
</p>

<p>
  <strong>Value:</strong>
  <%= @dictionary.value %>
</p>

<%= link_to 'Edit', edit_dictionary_path(@dictionary) %> |
<%= link_to 'Back', dictionaries_path %>
