<%= form_for(@admin_dictionary) do |f| %>
  <% if @admin_dictionary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_dictionary.errors.count, "error") %> prohibited this admin_dictionary from being saved:</h2>

      <ul>
      <% @admin_dictionary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :key %>
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
