<div class="checks">
<h1>考勤记录</h1>
<form class="form-inline well" method="get" >
<legend>查询</legend>
<label>考勤日期</label>
<div id="check_month" class="btn-group" data-toggle="buttons-radio">
  <% (1..12).each do |t| %>
    <%= button_tag t,:class => "btn #{(params[:month].to_i == t) ? 'active' : '' }" ,:type => 'button' %>
  <% end %>
</div>
<input type="hidden" name="month" />
<input type="hidden" name="type" />
<%= select_tag :employee, options_from_collection_for_select(Employee.all,:id,:name,params[:employee]),:prompt => "All" %>
<button class="btn btn-primary btn-search-check" ><i class="icon icon-search icon-white"></i> 查询</button>
</form>
<div class="well">
<%= render 'import' if @require_import || @results.size == 0 %>
<table class="table">
    <% @results.each do |result| %>
    <tr data-emp="<%=result[:employee_id] %>" data-date="<%=result[:date] %>" data-type="<%= result[:mode] %>" >
      <td><%= Employee.find(result[:employee_id]).name %></td>
      <td><%= result[:date].to_s(:db) %></td>
      <td>
      <%= select_tag :type, options_from_collection_for_select(Admin::Setting.where(:name => 'check_type'),:key,:value,result[:mode]) %>
      </td>
      <td width="100"><button class="btn btn-primary btn-exception">解决</button></td>
    </tr>
    <% end %>
</table>
</div>
</div>
