<h1>Listing users</h1>

<table class="table table-striped table-hover table-bordered " >  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Admin</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= user.admin %></td>
              </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', sign_up_path %>
