<h1>System Logs</h1>

<table class="table table-striped table-hover table-bordered " >
  <thead>
    <tr>
      <th>User</th>
      <th>Level</th>
      <th>Tag</th>
      <th>Msg</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.user_id %></td>
        <td><%= log.level %></td>
        <td><%= log.tag %></td>
        <td><%= log.msg %></td>
        <td><%= link_to 'Show', log %></td>
        <td><%= link_to 'Edit', edit_log_path(log) %></td>
        <td><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
