<header>
  <div class="navbar navbar-fixed-top">
    <div id="nprogress">
      <div class="bar" role="bar" >
        <div class="peg"></div>
      </div>
      <div class="spinner" role="spinner">
        <div class="spinner-icon"></div>
      </div>
    </div>
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "HRM System", '/', :class => "brand" %>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="dropdown <%= active_controller_if("employees")%>">
               <%= link_to employees_path, :class => "dropdown-toggle" ,:data => { :toggle => 'dropdown' } do %>
                人事管理
                <% end %>
                <ul class="dropdown-menu">
                  <li><%= link_to "添加员工", new_employee_path %></li>
                  <li><%= link_to "员工列表", employees_path %></li>
                  <li class="divider"></li>
                  <li class="nav-header">工作组</li>
                  <li><%= link_to "组织结构", groups_path %></li>
                  <li><%= link_to "添加工作组", new_group_path %></li>
                </ul>
            </li>
            <%= nav_link "考勤管理", checks_path %>
            <%= nav_link "绩效管理", performances_path %>
            <%= nav_link "薪资管理", salary_path %>
            <%= nav_link "培训管理", trains_path %>
          </ul>
          <form class="navbar-form pull-left" action="/search" methon="get" >
            <input name="controller" value="<%= controller_name %>" type="hidden" />
            <input name="q" type="text" class="search-query input-small" placeholder="Search" data-provide="typeahead" autocomplete="off" >
            <!-- <button type="submit" class="btn">Search</button> -->
          </form>
          <ul class="nav pull-right">
            <li><%= link_to "Help",  helps_path %></li>
            <li class="divider-vertical"></li>
            <% if signed_in? %>

            <li class="dropdown">
              <%= link_to user_profile_path(current_user) ,:class => "dropdown-toggle", :data => { :toggle => 'dropdown' } do %>
                <%= gravatar_for current_user,size: 20, class: 'img-circle' %>
                <%= current_user.name %>
                <b class="caret"></b>
              <% end %>
              <ul class="dropdown-menu">
                <li><%= link_to "Home", "/#{current_user.username}" %></li>
                <li><%= link_to 'Setting', user_setting_path(current_user) %></li>
                <li>
                    <a href="">Notifiction <span class="badge badge-info">0</span></a>
                </li>
                <li><%= link_to "Sign out", sign_out_path, method: "delete" %></li>
              </ul>
            </li>
            <% else %>
              <li><%= link_to "Sign in", sign_in_path %></li>
              <li><%= link_to "Sign up", sign_up_path %></li>
            <% end %>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>