<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "HRM System", '/', id: "logo" %>
			<nav>
				<ul class="nav">
					<%= nav_link "人事管理", employees_path %>
					<%= nav_link "考勤管理", checks_path %>
					<%= nav_link "绩效管理", performances_path %>
					<%= nav_link "薪资管理", '#' %>
					<%= nav_link "培训管理", trains_path %>
					<%= nav_link "权限管理", '#' %>
			</ul>
			<ul class="nav pull-right">
				<li><%= link_to "User",    users_path %></li>
				<li><%= link_to "Help",    '#' %></li>
				<li><%= link_to "Sign in", '#' %></li>
			</ul>
			</nav>
		</div>
	</div>
</header>
