<ul class="nav">
  <li class="dropdown <%= active_controller_if("employees")%>">
     <%= link_to employees_path, :class => "dropdown-toggle" ,:data => { :toggle => 'dropdown' } do %>
      <%= t("emp.employee")%>
      <% end %>
      <ul class="dropdown-menu">
        <li><%= link_to t("emp.add_employee"), new_employee_path %></li>
        <li><%= link_to t("emp.employees_list"), employees_path %></li>
        <li class="divider"></li>
        <li class="nav-header"><%= t("group.group")%></li>
        <li><%= link_to t("group.add_group"), new_group_path %></li>
        <li><%= link_to t("group.group_list"), groups_path %></li>
      </ul>
  </li>
  <%= nav_link t("checks.checks"), checks_path %>
  <%= nav_link t("performance.performance"), performances_path %>
  <%= nav_link t("salary.salary"), salary_path %>
  <%= nav_link t("train.train"), trains_path %>
</ul>
