<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= yield(:title) %> | HRM System</title>
	<meta charset="utf-8" >
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="clear nav-both"></div>
	<div class="container">
		<%= render 'layouts/flash' %>
			<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
</body>
<!--//**
*
*	just code for fun.
*/
-->
</html>
